*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* INÍCIO HEADER */
.img1{
    background-image: url(../img/img1.jpg);
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 667px;
    min-height: 100%;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    background-color: #000;
    padding: 20px;
    color: #fff;
}

.div-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    letter-spacing: 8px;
}
/* FIM HEADER */

/* INÍCIO SECTIONS */
section{
    text-align: center;
    padding: 50px 80px;
}

.sessao2{
    background-color: #000;
}
/* FIM SECTIONS */

/* INÍCIO IMG2 */
.img2{
    background-image: url(../img/img2.jpg);
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title2{
    padding: 20px;
    color: #fff;
}
/* FIM IMG2 */

/* INÍCIO IMG3 */
.img3{
    background-image: url(../img/img3.jpg);
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM IMG3 */